/* Global ================= */

:root {
  --black--1: rgb(35, 36, 37);
  --white--1: rgb(234, 240, 241);
  --grey--1: rgb(129, 129, 129);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  text-decoration: none;
  outline: none;

  font-size: 62.5%;
}

body {
  background-color: var(--white--1);
}

/* Body ================= */

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.box {
  padding: 0;
  margin: 10rem;

  width: 40vh;
  height: 40vh;

  border-radius: 25rem;

  border: 10px solid var(--black--1);
  box-shadow: 0 0 0 2px var(--grey--1), 0 0 0 4px var(--black--1);
}

/* Head ================= */

.headbar {
  background-color: var(--black--1);

  margin: 0;
  padding: 0 2rem;
  height: 10rem;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.border__elements {
  color: var(--white--1);
  font-size: 6rem;
}

.border__inputs {
  height: 6rem;
  padding: 0.5rem 2rem;

  border-radius: 5%;
}

.btn__radius {
  color: var(--black--1);
  background-color: var(--white--1);
}
